body {
  background-color: black; 
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Comfortaa', sans-serif;
  font-family: 'Nova Square', sans-serif;
}

canvas {
  border: 2px solid #194d33;
}

form {
  text-align: center;
  margin-top: 5%;
}

#back
img {
  position: fixed;
  margin: -490px 0px 0px -670px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
}

.message {
  text-align: center;
  margin-top: 30px;
}

#score {
  display: grid;
  padding: 0px 400px;
  margin: 10px 50px 10px 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "wins draws losses";
}

span {
  font-weight: bold;
}

.btnreset {
    margin-top: 25px;
    padding: 9px;
    border-radius: 5px;
    border: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-size: 15px;
    cursor: pointer;
    background-color: #ffffff;
    transition: all .4s ease-in-out;
  }

  @media (min-width: 10px) and (max-width: 800px) {   
    canvas {
      margin-top: 20px;
      border: 2px solid #194d33;
    }
    
    h1 {
      font-size: 1.25rem;
      margin-top: 25px;
    }

    #back
    img {
      position: fixed;
      top: 15px;
      left: 10px;
      margin: 0px;
      width: 45px;
      height: 45px;
      border-radius: 100px;
      cursor: pointer;
    }
    
    #score {
      font-size: 0.87rem;
      padding: 0px;
      margin: 40px 20px 0px 0px;
    }
    
    .btnreset {
        margin-top: 40px;
    }
    
  } 